body::after {
    min-height: 100dvh;
}

@media (prefers-reduced-motion: no-preference) {  
    body::after{
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        opacity: 0.15;
        background-image: url(../../assets/bg.gif);
        background-size: 21rem;
    }
}

