.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin-inline: auto;
    margin-block: 1.5rem;
}

#logo {
    justify-self: start;
}

.menu {
    justify-self: end;
    align-self: flex-start;
}

.wrapper-main {
    grid-column: 1 / -1;
    justify-self: center;
    padding: 2rem;
}