@use "../util/" as u;

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    margin-inline: auto;
    padding-block: 1.5rem;
    align-items: flex-start;
    @include u.media() {
        width: 100%;
    }
}

#logo {
    justify-self: start;
}

.menu {
    justify-self: end;
}

.wrapper-main {
    grid-column: 1 / -1;
    justify-self: center;
    padding: 2rem;
    @include u.media() {
        padding: 0.8rem;
    }
}

.btn {
    height: 65px;
    width: 65px;
    @include u.media() {
        height: 50px;
        width: 50px;
    }
}
