@use "../util/" as u;

td {
    border: 1px solid rgba(0, 0, 0, 0.181);
}

table {
    min-width: fit-content;
    height: fit-content;
    border-spacing: 0;
    border-collapse: collapse;
    border: none;
    background-color: var(--white);
}

td {
    height: 12px;
    width: 12px;
}

.wrapper-board {
    display: flex;
    gap: 1.5rem;
    @include u.media() {
        gap: 0.2rem;
        flex-direction: column-reverse;
    }
}

#boardJS {
    height: fit-content;
    width: max-content;
}