.wrapper-main {
    display: flex;
    gap: 2rem;
    width: fit-content;
    place-content: center;
    margin-block: 2rem;
    border: 10px solid var(--light-green);
    box-shadow: 
                3px 3px 12px -9px rgb(16, 43, 6),
                -3px -3px 10px -1px rgb(234, 255, 215);
    border-radius: 0.7rem;
    background-color: var(--light-blue);
}

.wrapper-interations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.interations-container {
    color: var(--dark-blue);
    padding: 0.5rem 1rem;
    border: 6px solid var(--light-blue);
    border-radius: 0.9rem;
    box-shadow: inset 4px 4px 10px -7px rgb(19, 47, 69),
                inset -4px -4px 10px -3px rgb(194, 231, 255),
                3px 3px 10px -6px rgb(19, 47, 69),
                -3px -3px 10px -1px rgb(194, 231, 255);
}

.tools-wrapper {
    display: flex;
    gap: 0.8rem;
    margin-top: 0.5rem;
}

.palette__head {
    display: flex;
    justify-content: space-between;
}

.palette-btn {
    height: 2rem;
    aspect-ratio: 1;
}

.wrapper-colorsJS {
    margin-block: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}