@use "../util/" as u;

.wrapper-main {
    display: flex;
    gap: 2rem;
    width: fit-content;
    place-content: center;
    margin-block: 2rem;
    border: 10px solid var(--light-green);
    box-shadow: 
                3px 3px 12px -9px rgb(16, 43, 6),
                -3px -3px 10px -1px rgb(234, 255, 215);
    border-radius: 0.7rem;
    background-color: var(--light-blue);
}

.wrapper-interations {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

.interations-container {
    width: fit-content;
    color: var(--dark-blue);
    padding: 1rem 1rem;
    @include u.neumorphism(rgb(19, 47, 69), rgb(194, 231, 255), rgb(19, 47, 69), rgb(194, 231, 255));
}

.tools-wrapper {
    display: flex;
    gap: 0.8rem;
    margin-top: 0.5rem;
}

.palette__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.palette-btn {
    height: 2rem;
    aspect-ratio: 1;
}
