@use "../util/" as u;

.modal.hidden {
    display: none;
}

.board__option.hidden {
    display: none;
}

.board__settings {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: fit-content;
    @include u.media() {
        flex-direction: row;
        gap: 0.2rem;
        align-self: flex-end;
    }
}