.menu {
    color: var(--white);
    background-color: var(--brown);
    border: 6px solid var(--light-brown);
    padding: 0.5rem 1.7rem;
    font-weight: var(--fw-semibold);
    letter-spacing: 6px;
    font-size: var(--fs-300);
}

.menu.hidden {
    display: none;
}