@use "../util/" as u;

.wrapper-modal {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
}

.modal {
    position: relative;
    padding: 2rem;
    border: 6px solid var(--brown);
    border-radius: 15px;
    background-color: var(--light-brown);
    box-shadow: 6px 6px 15px 2px rgba(128, 128, 128, 0.288);
    text-align: center;
}

.modal > button {
    $height-close: 50px;
    height: $height-close;
    aspect-ratio: 1;
    position: absolute; 
    //the 6px are the modal border thickness 
    top: calc((($height-close + 6px) / 2.5) * -1);
    right: calc((($height-close + 6px) / 2.5) * -1);
}

.modal__options {
    padding: 0.7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include u.neumorphism(var(--light-brown), rgb(76, 44, 22), rgb(255, 216, 191));
}

.modal__title {
    color: var(--white);
    font-size: var(--fs-200);
    font-weight: var(--fw-regular);
    letter-spacing: 2.4px;
    text-shadow: 4px 4px 1px rgba(76, 44, 22, 0.495);
    margin-bottom: 0.8rem;
}

.laguage__options,
.music__options {
    display: flex;
    gap: 0.5rem;
}

.modal__language {
    margin-bottom: 1rem;
}

.music__options{
    font-size: var(--fs-200);
    font-weight: var(--fw-semibold);
    color: var(--dark-brown);
}

.music__options > img {
    margin-inline: 0.5rem;
}

#icon-on {
    display: none;
}

.wrapper-options-sizes {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

    .modal__options + .modal__options {
        margin-left: 1rem;
    }

    .modal__options {
        padding: 0.5rem 0.2rem;
        width: 11rem;
    }
}

.modal__option-sizes {
    font-size: var(--fs-200);
    font-weight: var(--fw-semibold);
    color: var(--dark-brown);
    letter-spacing: 1.4px;
}

.board-size {
    font-size: var(--fs-100);
    color: var(--light-yellow);
    letter-spacing: 1.2px;
}
