:root {
    --light-green: #b9fea2;
    --blue: #4397FB;
    --light-blue: #85BDFE;
    --dark-blue: #000588;
    --light-brown: #FEB27A;
    --brown: #EA8033;
    --white: #FFFFFF;
    --dark-brown: #583900;
    --light-yellow: #F6FECC;
    --purple: #8843CC;
}