@mixin neumorphism($in-shadow, $in-light, $out-shadow, $out-light) {
    border: 6px solid var(--light-blue);
    border-radius: 0.9rem;
    box-shadow: inset 4px 4px 15px -12px $in-shadow,
                inset -4px -4px 13px -6px $in-light,
                3px 3px 13px -9px $out-shadow,
                -3px -3px 11px -3px $out-light;
}