@mixin neumorphism($border-color, $shadow, $light) {
    border: 6px solid $border-color;
    border-radius: 0.9rem;
    box-shadow: inset 4px 4px 15px -12px $shadow,
                inset -4px -4px 13px -6px $light,
                3px 3px 13px -9px $shadow,
                -3px -3px 11px -3px $light;
}